{#
/* 02/2019 Liste les fichiers uploadés par
          * filefield and linkfield  avec création d'une liste dynamique, exclusion des champs vides
#}
{#
/* 03/2019 Liste les fichiers uploadés par
  * filefield and linkfield  avec création d'une liste dynamique, exclusion des champs vides
#}

{# ---*** Les classes à appliquer aux éléments  ***--- #}
{% set champ1_attribute = create_attribute() %}
{% set champ1bis_attribute = create_attribute() %}
{% set champ2_attribute = create_attribute() %}
{% set champ3_attribute = create_attribute() %}

{% set champ1_classes = [
'champ-' ~ node.field_NAME.fieldDefinition.name | replace({"_" : "-"}),
'titre-' ~ node.bundle|clean_class
]%}
{% set champ1bis_classes = [
'label-' ~ node.field_NAME.fieldDefinition.name | replace({"_" : "-"}),
]%}
{% set champ2_classes = [
'label-' ~ node.field_lien_utile_ficheform.fieldDefinition.name | replace({"_" : "-"}),
]%}
{# ---*** Le contenu de l'include ***--- #}

{% if node.field_fichier_joint_ficheform.value or node.field_lien_utile_ficheform.value is not empty %}
  <div class="bloc_docs_utiles_ficheform">

    <ul>
      <li {{ champ2_attribute.addClass(champ2_classes) }}>
        {{ content.field_lien_utile_ficheform | field_label }}
        {% if node.field_fichier_joint_ficheform is not empty %}
          //
          {{ content.field_fichier_joint_ficheform|field_label }}
        {% endif %}
      </li>
    </ul>

    <ul>
      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, fichier in node.field_fichier_joint_ficheform.value %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_fichier_joint_ficheform.value is not empty %}
          <li>{{ content.field_fichier_joint_ficheform[key] }}</li>
        {% endif %}
      {% endfor %}

      {# //Parcourir le tableau field_NAME de l'objet $node pour lister le contenu clé/valeur #}
      {% for key, lien in node.field_lien_utile_ficheform %}
        {# //Ne pas afficher les champs vides du tableau #}
        {% if node.field_lien_utile_ficheform is not empty %}
          <li>{{ content.field_lien_utile_ficheform[key] }}</li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
{% endif %}