// Regroupe le style pour le contenu des node.tpl custom
// créer des fichiers _node-TYPE.scss et les importer dans application.scss
/*-------------------------------------|
|       CONTENU CUSTOM NODE.TPL        |
|       PAGE LYCEE & CDI               |
|--------------------------------------*/
//@include breakpoint ($desktop){}  : $desktopwide  $mobile  $mobile-iphonehd   $mobile-iphoneX
/*
$mobile-galaxyShd
$mobile-galaxyS6
$tablet
$tablet-hd

// Breakpoint pour les format paysage
$mobilelandscape
$mobilelandscape-galaxyShd
$tabletlandscape
$tabletlandscape-hd:
*/
/*######-------- ||| ORDRE FLEXBOX ||| --------######*/

body .conteneur .conteneur-flex {
  #zone-1.type-page-lycee {
    order: 1;
  }

  #zone-1.type-page-lycee span {
    display: none;
  }

  #zone-2.type-page-lycee {
    order: 1;
  }

  #zone-3.type-page-lycee {
    order: 2;
  }
  @include breakpoint ($desktop) {
    #zone-1.type-page-lycee {
      order: 1;
    }

    #zone-1.type-page-lycee span {
      display: initial;
    }

    #zone-2.type-page-lycee {
      order: 2;
    }

    #zone-3.type-page-lycee {
      order: 3;
    }
  }
}
/*######-------- ||| LAYOUT SPECIFIQUE ||| --------######*/
article.middle-content {
  //Empêche les flottants de sortir du conteneur
  @include clearfixsusy3;
}
$typedecontenu: type-page-lycee,type-page-erreur;
$zonesimg: zone-illustration;
@each $zone in $zonesimg {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      #illustration-pleinepage {
        min-height: 35vw;
        max-height: 90vw;
        overflow: hidden;
        position: relative;
        // Pour image défaut en BG, voir style différencié ci-après

        img {
          transform: translate(0%,0%);
          @include adaptable-img();
        }
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-9%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-10%);
          }
        }
        @include breakpoint(($tablet)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-25%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-24%);
          }
        }
        @include breakpoint(($tabletlandscape)) {
          min-height: 25vw;
          max-height: 30vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-20%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-18%);
          }
        }
        @include breakpoint(($mobilelandscape)) {
          min-height: 25vw;
          max-height: 35vw;

          img:not([src*="defaut"]) {
            transform: translate(0%,-30%);
          }
          img[src*="defaut"]{//Position du visuel par défaut
            transform: translate(0%,-20%);
          }
        }
      }//Fin illustration-pleinepage
    }
  }
}// Fin zone-illustration

//Position du visuel différente selon NiD
#node-XX{
  #zone-illustration.type-page-lycee{
      // utiliser bxslider-cyrano.scss" pour régler le bx-viewport ou bx-caption
      #illustration-pleinepage{
        @include breakpoint(($desktop,$desktopwide)){
            img{
                transform: translate(0%, -53%);
            }
        }
      }
    }
}
#zone-illustration.type-page-erreur{
  #illustration-pleinepage{
    //image par défaut en BG comme secours
    @include backgroundImage(("defaut/visuel-defaut-AssoPF-2019.jpg"),transparent,no-repeat, top left);
    background-size: cover;
  }
}


// Tableau initial des classes (TdC) et IDs (Zones) à créer.
$typedecontenu: type-page-lycee, type-annonce-accueil, type-contenu-info-admin, type-page-erreur ;
$zones: zone-1, zone-2, zone-3, zone-4 ;
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      //Layout pour le formulaire
    aside.formulaire{
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
            padding: span(0.2);
        }
        table,tbody,tr,td,form,input[type="text"],input[type="email"],select, textarea{
            width: 95%;
            margin: 0 auto;
            @include arrondis(1.5em);
            @include backgroundImage(("motif_img_overlay.png"),transparent,repeat, top left);
            @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
                width: 75%;
                margin: span(0.1) auto;
                padding: span(0.1);

              }
          }
        input[type="tel"]:not([type="image"]){
          width: 95%;
          margin: 0 auto;
          @include arrondis(1.5em);

          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
              width: 75%;
              margin: span(0.1) auto;
              padding: em(5px) 0 em(5px) em(50px); //Corrige mauvais affichage sur bureau

            }
        }
          textarea{
              @include arrondis(1em);
          }
          div.webform-element-description{
            //Texte d'aide pour les champs
            @include font-size(s); //utilisation de typey
          }
          //Selecteur de temps: date/heure
          td.webform-multiple-table--handle{
            width: 10%;
          }
          div[class^='edit-creneau-horaire'][class$='time'],
          div[id^='edit-creneau-horaire'][id$='time'],
          input[id^='edit-creneau-horaire'][id*='time'],
          input[id^='edit-creneau-horaire'][id*='date'],
          input[id^='edit-creneau-horaire'][id$='date'].form-text,
          input[id^='edit-creneau-horaire'][id$='date']{
//https://www.antimath.info/css/css-target-elements-by-partial-class-or-id-name/
//Cible les IDs démarrant et se terminant par le texte indiqué (^ ou $), ou qui contient le texte (*)
            width: 50%;
          }
          .select2-selection__choice{
            width: 88%;
            @include font-size(s); //utilisation de typey
@include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
  width: auto;
  @include font-size(m); //utilisation de typey
}
          }

      }// aside.formulaire
    }
  }
}
/*######-------- ||| BORDURES ||| --------######*/
body .conteneur {
  @include breakpoint ($desktop) {
    #zone-2.type-page-lycee {}
  }
}
/*######-------- ||| BREAKPOINTS ||| --------######*/
@include breakpoint ($mobile) {
  aside.deco-lycee {
    display: none;
  }
}
/*######-------- ||| STYLE ||| --------######*/

/*---- REGLAGE GLOBAL - supprimer autres réglages si existent -
Désactiver le bloc "Titre de page " pour éviter doublon*/
//Commun pour tous les H1 titre du site -

h1.titre_overlay {
  @include titre_overlay();
  @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)){
  top: em(7px);
  left:em(5px);
  }
}

h1.titre_page {
  @include titre-page;
  color: $blanc-casse;
  @include backgroundRGBA($bleu-turquoise, 0.9);
}
/*¤¤¤ STYLES COMMUNS ¤¤¤*/
//Permet de créer facilement les styles communs à des IDs ou/et classes
// !! Le tableau type de contenu est repris du layout spécifique, idem pour les zones(L88-92)
@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
      li,
      p,
      ul {
        @include font-size(m); //utilisation de typey
        padding: em(5px);
        line-height: 1.5em;
        list-style-position: inside;
      }

      u {
        font-weight: bold;
        color: $violet;
      }

      h2 {
        @include font-size(l); //utilisation de typey
        color: $bleu-turquoise;
      }

      h3 {
        @include font-size(m); //utilisation de typey
        color: $violet;
      }
      h4{
        @include font-size(s); //utilisation de typey
        color: $orange;
      }
      h5{
        @include font-size(xs); //utilisation de typey
        color: $bleu-turquoise;
      }
      a {
        text-decoration: none;
        color: $bleu-turquoise;

        &:hover {
          text-decoration: underline;
        }
      }
      em {//texte italique
        color: $orange;
      }
      strong {
        color: $bleu-turquoise;
      }
    }
  }
}
/*------------------------------------
        ¤¤¤ STYLES PROPRES ¤¤¤
______________________________*/

@each $zone in $zones {
  @each $type in $typedecontenu {
    ##{$zone}.#{$type} {
  h2 {}

  h3 {}

  h4 {}

  p {}

  ul {
    width: auto;
  }

  img {
    //@include ombrage(0.3em,0,0,0.1em);
    display: block;
    margin: 0 auto;
    @include adaptable-img;
    width: auto;
    float: none;
    border: em(2px) solid $bleu-turquoise;
    padding: em(2px);
  }

  div.content {
    padding: span(0.2);
    .entrefilet {
      @include backgroundImage('bg-merci.gif');
      display: block;
      color: $violet;
      @include font-size(l); //utilisation de typey
      text-transform: capitalize;
      font-weight: bold;
      @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
        padding: span(0.2);
        transform: translate(1%,2%);
        float: right;
        margin: span(0.1);
        min-width: span(3);
        max-width: span(5);
      }
    }
    //style pour le dernier élément § de content
    p.external-content {
      width: 95%;
      margin: em(15px) auto;
      @include breakpoint ($desktop) {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: em(85px);
        height: 0;
        overflow: initial;
      }
    }
    //style particulier pour le 1er § qui ne contient pas la iframe
    p,
    p:first-child {
      margin: 0 em(15px);
      padding: 0;
    }

  }
  aside.resa-jpo{
    max-width: 95%;
    margin: 0 auto;
  }
  .logo-resto{
    float: right;
  }
  .videos {
    ul{
      list-style: none;
    }
    iframe{
      @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      max-height: 85vh;
      max-width: 60vw;
      margin: 0 auto;
      padding: span(0.02);
      border: em(3px) solid $bleu-turquoise;
    }
}
} // Fin content
aside.formulaire{
  //Style pour formulaire
     textarea,input[type="text"],input[type="email"],input[type="tel"]{
          background: $bleu-turquoise; // Couleur fond des champs
          color: $blanc-casse;


      }
      input:not([type='tel']):not([type='image']) {
      // Pas de padding:  pour le champ telephone ni pictos horaire
    padding: span(0.01);
  }
  }// Fin aside.formulaire
} // Fin ##{$zone}.#{$type}
}// Fin @each $type in $typedecontenu
} // Fin @each $zone in $zones
#zone-1.type-page-lycee{
  div.cartouche{
    //Cartouche pour texte avec style différent ex: page JPO
    background: $gris-clair;
    border-style: dashed none;
    border-color: $violet;
    border-width: em(2px);
    em {//texte italique
      color: $gris-anthracite;
    }
    strong {
      color: $bleu-turquoise;
    }
  }
}
/*######-------- ZONE 2 --------######*/
#zone-2.type-contenu-cdi,
#zone-2.type-page-lycee {
  h2,
  h3,
  h4,
  img,
  ol,
  p,
  ul {
    margin: 0;
  }

  h2 {
    color: $violet;
    padding: em(5px);
  }

  h3 {
    color: $bleu-turquoise;
    padding: em(5px);
  }

  h4 {
    padding: em(5px);
    color: $orange;
  }

  li,
  p {
    @include font-size(m); //utilisation de typey
    padding: em(5px);
    line-height: 1.5em;
  }

  ul {
    padding: em(5px);
  }

  img {}

  a {
    color: $bleu-turquoise;
    text-decoration: none;
    padding: em(2px);

    &:hover {
      color: white;
      background: $violet;
    }
  }

  form {
    margin: 0 6em;
  }

  table {
    margin: 0 auto;
    //display:table;//casse le système de stacktable js
    tbody {
      max-width: 100%;

      tr {
        border: 0;
      }

      tr.even {
        background: $gris-clair;
      }

      tr.odd {
        background: $gris-clair-moyen;
      }

      td {}
    }
  }

  .bloc_docs_utiles_cdi,
  .bloc_docs_utiles_plycee {
    max-width: span(11);
    padding: span(0.02);
    margin: span(0.2);
    @include backgroundImage(("BG/stripe_rosepale_violet_pastel.png"),transparent,repeat, top left);

    @include arrondis(1em);

    ul {}

    li {
      list-style: square;
      list-style: none;
      list-style-position: inside;
      padding: span(0.1) 0;
      @include font-size(s); //utilisation de typey

      span {
        //padding: span(0.01);
      }

      a { //liens blocs docs utiles
        background: $gris-clair;
        color: $bleu-turquoise;
        text-decoration: none;
        padding: span(0.01) span(0.03);

        &:hover {
          color: $blanc-casse;
          background: $violet;
        }
      }

      a[href*=".pdf"] {
        &::before {
          //@include backgroundImage("PNG/Fichiers@3x.png");
          @include maskImage(("PNG/Fichier-blanc@3x.png"),100%,alpha,$gris-clair-moyen);
          background-size: contain;
          content: "";
          position: relative;
          vertical-align: middle;
          padding: em(13px);
          margin: em(3px) em(10px) em(3px) 0;
          transition: 0.5s all;
          display: inline-block;
          transform: scale(1);
          min-height: em(30px);
          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
            // Pour ne pas tronquer le picto
            min-height: em(33px);
          }
        }
      }

      img.filefield-icon {
        display: none; //initial
      }

      a[href*="/"]:not([href*=".pdf"]) {
        //pour cibler les liens externes et internes, exclure les pdf
        &::before {
          @include maskImage(("PNG/liens-blanc@3x.png"),100%,alpha,$gris-clair-moyen);
          background-size: contain;
          content: "";
          position: relative;
          vertical-align: middle;
          padding: em(13px);
          margin: em(3px) em(10px) em(3px) 0;
          transition: 0.5s all;
          display: inline-block;
          transform: scale(1);
          min-height: em(30px);
          @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
            // Pour ne pas tronquer le picto
            min-height: em(33px);
          }
        }
      }
    }
    .label-field-lien-cdi{
      font-weight: bold;
      color: $gris-clair;
      background: $bleu-turquoise;
      padding: span(0.02);
      margin: 0 0 0 span(0.2);
    }
  }
}
/*######-------- ZONE 3 --------######*/
#zone-3.type-page-lycee {
  span#lycee-formation {
    background: $orange-fonce;
    display: grid;
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      padding: span(0.5) span(1);
    }

    h3 {
      color: $blanc-casse;
      text-transform: uppercase;
      font-size: large;
    }

    ul.liste-formations-lycee {
      li {
        list-style: none;
        margin: span(0.01);

        a {
          font-size: medium;
          color: $blanc-casse;
          text-decoration: none;
          padding: span(0.02);
          @include txt-cesure;

          &:hover {
            background: $gris-anthracite;
          }
        }
      }
    }
  }

  #docs_lycee {
    h3 {
      font-family: $AristaFont;
      text-align: center;
      color: $bleu-turquoise;
      padding: 5px 0;
      font-size: medium;
      margin: 0 0 5px;
    }

    table {
      margin: 0 auto;
      width: 95%;
      border: em(3px) solid $gris-clair-moyen;
      background: #EFEFEF;
      box-shadow: 0 0 7px 1px $prune;
      -moz-box-shadow: 3px $prune;
      -webkit-box-shadow: 3px $prune;
      behavior: url("/sites/all/libraries/PIE/PIE.htc");
      position: relative;
    }

    tbody {
      border: 0;
      padding: em(10px) em(15px);
    }

    tr {
      border: 0;
      background: 0;
    }

    td {
      text-align: center;

      a {
        display: block;
        color: $prune;
        text-decoration: none;
        font-size: small;

        &:hover {
          background: $violet;
          @include arrondis(em(10px));
          @include PIE;
          position: relative;
        }
      }
    }

    .filefield-icon {
      display: none;
    }
  }
}
/*######-------- ZONE 4 --------######*/
#zone-4.type-page-lycee {
  span#gmap-lycee {
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      padding: span(0.4);
      display: grid;
    }
  }

  iframe[src*="maps"],
  iframe[src*="umap"] {
    min-height: 100vw;
    min-width: 35vw;
    @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
      min-height: 20vw;
    }
  }
}
